:root{
--night: #131211ff;
--night-2: #0D0C0Bff;
--jet: #484344ff;
--eerie-black: #19191Aff;
--yellow: #EFDA63ff;
--white: #F5F5F5;
--red: #D72638;

--dark-beige: #cbb59a;
--light-beige: #fff5e1;
--brown-beige: #5a3e28;
}